@use "/src/constants";
@use "/src/mixins";

.container {
	display: none;
	margin-top: 78px;

	@include mixins.responsive(constants.$screen-big) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.content {
		width: 754px;
	}
}
