@use "/src/constants";
@use "/src/mixins";

.container {
	@include mixins.responsive(constants.$screen-big) {
		display: none;
	}

	.sliderContainer {
		height: 455px;

		.slider {
			position: absolute;
			width: 100dvw;
			left: 0;

			$padding: calc((100dvw - 298px) / 2);
			padding: 0 $padding 40px;
		}
	}

	.description {
		margin-top: 36px;
	}
}
