@use "/src/constants" as constants;
@use "Button.animations";

.container {
  border: 2px solid constants.$color-light-green;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  width: 118px;
  height: 44px;

  .button {
    width: 112px;
    height: 38px;

    background-color: constants.$color-light-green;
    border-width: 0;
    border-radius: 10px;

    color: black;
    cursor: pointer;
    font: 500 16px "Gilroy";

    &:hover {
      animation: shrink-expand 1s infinite;
    }

    &:disabled {
      animation-duration: 0s;
    }

    &:active {
      opacity: 0.8;
      animation-duration: 0s;
      transform: scale(0.95, 0.9);
    }
  }
}


