@mixin animationItemExpand($collapsed, $expended, $id) {
  animation: itemExpand-#{$id} 1s;

  @keyframes itemExpand-#{$id}{
    0% {
      height: $collapsed;
    }
    100% {
      height: $expended;
    }
  }
}

@mixin animationItemShrink($collapsed, $expended, $id) {
  animation: itemShrink-#{$id} 1s;

  @keyframes itemShrink-#{$id} {
    0% {
      height: $expended;
    }
    100% {
      height: $collapsed;
    }
  }
}
