@use "/src/constants";
@use "./ListItem.animations";

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 198px;
  height: 205px;

  background-color: constants.$color-dark-blue;
  border-radius: 12px;

  cursor: pointer;
  animation: itemUnselected 0.5s;

  &.active {
    background-color: constants.$color-light-green;
    animation: itemSelected 0.5s;

    .title {
      color: black;
    }
  }

  .icon {
  }

  .title {
    text-align: center;
    font-family: "Cascadia Code";
    font-weight: 600;

    margin-top: 19px;
  }
}