@use "/src/constants";
@use "/src/mixins";

.card {
  transform: scale(0.8);
  background-color: constants.$color-dark-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 18px 10px;
  border-radius: 16px;
  height: 415px;

  &.activeSlide {
    transform: scale(1);
    background-color: constants.$color-light-green;
  }

  .image {
    width: 142px;
    height: 142px;

    border-radius: 10px;
    background-color: constants.$color-light-blue;
  }

  .title {
    color: constants.$color-black;

    margin-top: 16px;
  }

  .role {
    color: constants.$color-dark-blue;
    font-family: "Cascadia Code";
    font-size: 20px;
    font-weight: 600;

    margin-top: 4px;
  }

  .dates {
    display: flex;
    align-content: center;

    margin-top: 10px;

    .calendar {
      width: 18px;
      height: 21px;
      margin-right: 6px ;
    }

    .datesLine {
      display: flex;
      align-items: center;
      color: constants.$color-black;

      & > span {
        color: constants.$color-black;
      }
    }
  }

  .stack {
    color: constants.$color-dark-blue;
    text-align: center;
    font-family: "Cascadia Code";
    font-weight: 600;
    .stackLabel {
      color: constants.$color-black;
      font-weight: 600;
    }
  }
}