@use "/src/constants";
@use "/src/mixins";
@use "Slide.animations";

.card {
  transform: scale(0.8);
  background-color: constants.$color-dark-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 18px 10px;
  border-radius: 16px;
  height: 415px;

  animation: slideUnselectedChange 0.1s;

  &.activeSlide {
    animation: slideSelectedChange 0.2s;

    transform: scale(1);
    background-color: constants.$color-light-green;

    .role,
    .stack {
      color: constants.$color-dark-blue;
    }
  }

  .image {
    width: 142px;
    height: 142px;

    border-radius: 10px;
    background-color: constants.$color-light-blue;
  }

  .title {
    color: black;

    margin-top: 16px;
  }

  .role {
    color: white;
    font-family: "Cascadia Code";
    font-size: 20px;
    font-weight: 600;

    margin-top: 4px;
  }

  .dates {
    display: flex;
    align-content: center;

    margin-top: 10px;

    .calendar {
      width: 18px;
      height: 21px;
      margin-right: 6px;
    }

    .datesLine {
      display: flex;
      align-items: center;
      color: black;

      & > span {
        color: black;
      }
    }
  }

  .stack {
    color: white;
    text-align: center;
    font-family: "Cascadia Code";
    font-weight: 600;

    .stackLabel {
      color: black;
      font-weight: 600;
    }
  }
}