@use "/src/constants";
@use "/src/mixins";

.container {
  @include mixins.responsive(constants.$screen-medium) {
    display: none;
  }

  .sliderContainer {
    height: 455px;

    .slider {
      position: absolute;
      width: 100vw;
      left: 0;

      $padding: calc((100vw - 298px) / 2);
      padding: 0 $padding 40px;
    }
  }

  .description {
    margin-top: 36px;
  }
}
