@use "/src/constants";
@use "/src/mixins";

.container {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 92px;

	@include mixins.responsive(constants.$screen-big) {
		display: grid;
		margin-top: 162px;
		grid-template-areas:
			"title title"
			"image slider";
		grid-column-gap: 111px;
		grid-row-gap: 78px;
	}

	.image {
		grid-area: image;
	}

	.title {
		margin-top: 36px;
		grid-area: title;

		@include mixins.responsive(constants.$screen-big) {
			margin-top: 0;
		}
	}

	.slider {
		margin-top: 26px;
		grid-area: slider;

		@include mixins.responsive(constants.$screen-big) {
			margin-top: 0;
		}
	}
}
