@use "/src/constants";
@use "/src/mixins";

.text {
  text-align: center;

  @include mixins.responsive(constants.$screen-medium) {
    text-align: justify;
  }
  .highlighted {
    font-family: "Cascadia Code";
    color: constants.$color-light-green;
  }
}
