@use "/src/constants";
@use "./SkillsSection.animations";

@mixin itemBody($number) {
  $size: 52px + $number * 70px;
  @include SkillsSection.animationItemShrink($size, $number);

  &.containerOpen {
    height: $size;
    @include SkillsSection.animationItemExpand($size, $number);
  }
}

.container {
  overflow: hidden;
  height: 52px;
  margin-bottom: 18px;

  &.items_1 {
    @include itemBody(1);
  }

  &.items_2 {
    @include itemBody(2);
  }

  &.items_3 {
    @include itemBody(3);
  }

  &.items_4 {
    @include itemBody(4);
  }

  &.items_5 {
    @include itemBody(5);
  }

  &.items_6 {
    @include itemBody(6);
  }

  &.items_7 {
    @include itemBody(7);
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    background-color: constants.$color-dark-blue;
    border-radius: 12px;
    font-family: "Cascadia Code";
    font-weight: 600;
    margin-bottom: 18px;
    cursor: pointer;
    transition-duration: 1s;

    &:hover {
      background-color: constants.$color-light-blue;
    }

    &.open {
      background-color: constants.$color-light-green;
      color: black;
    }
  }
}