@use "/src/constants";
@use "./SkillsSection.animations";

.container {
  overflow: hidden;
  height: 52px;
  margin-bottom: 18px;

  &.item_0 {
    @include SkillsSection.animationItemShrink(962px, 0);
    &.containerOpen {
      height: 962px;
      @include SkillsSection.animationItemExpand(962px, 0);
    }
  }

  &.item_1 {
    @include SkillsSection.animationItemShrink(682px, 1);
    &.containerOpen {
      height: 682px;
      @include SkillsSection.animationItemExpand(682px, 1);
    }
  }

  &.item_2 {
    @include SkillsSection.animationItemShrink(332px, 2);
    &.containerOpen {
      height: 332px;
      @include SkillsSection.animationItemExpand(332px, 2);
    }
  }

  &.item_3 {
    @include SkillsSection.animationItemShrink(262px, 3);
    &.containerOpen {
      height: 262px;
      @include SkillsSection.animationItemExpand(262px, 3);
    }
  }

  &.item_4 {
    @include SkillsSection.animationItemShrink(122px, 4);
    &.containerOpen {
      height: 122px;
      @include SkillsSection.animationItemExpand(122px, 4);
    }
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    background-color: constants.$color-dark-blue;
    border-radius: 12px;
    font-family: "Cascadia Code";
    font-weight: 600;
    margin-bottom: 18px;
    cursor: pointer;
    transition-duration: 1s;

    &:hover {
      background-color: constants.$color-light-blue;
    }

    &.open {
      background-color: constants.$color-light-green;
      color: black;
    }
  }
}