@keyframes itemExpand {
  0% {
    height: 52px;
  }
  100% {
    height: var(--expanded-height);
  }
}

@keyframes itemShrink {
  0% {
    height: var(--expanded-height);
  }
  100% {
    height: 52px;
  }
}