@use "/src/constants";
@use "./SkillsSection.animations";

.container {
  overflow: hidden;
  height: 52px;
  margin-bottom: 18px;
  animation: itemShrink 1s;

  &.containerOpen {
    height: var(--expanded-height);
    animation: itemExpand 1s;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    background-color: constants.$color-dark-blue;
    border-radius: 12px;
    font-family: "Cascadia Code";
    font-weight: 600;
    margin-bottom: 18px;
    cursor: pointer;
    transition-duration: 1s;

    &:hover {
      background-color: constants.$color-light-blue;
    }

    &.open {
      background-color: constants.$color-light-green;
      color: black;
    }
  }
}