@mixin animationItemExpand($expended, $id) {
  animation: itemExpand-#{$id} 1s;

  @keyframes itemExpand-#{$id}{
    0% {
      height: 52px;
    }
    100% {
      height: $expended;
    }
  }
}

@mixin animationItemShrink($expended, $id) {
  animation: itemShrink-#{$id} 1s;

  @keyframes itemShrink-#{$id} {
    0% {
      height: $expended;
    }
    100% {
      height: 52px;
    }
  }
}