@use "/src/constants";
@use "./Description.animations";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    text-align: center;
  }

  .text {
    height: 302px;
    overflow-y: auto;
    margin-top: 12px;
    width: 314px;
    text-align: justify;

    padding-right: 10px;
    animation: fadeIn 1s ease-in-out;

    &.transparencyStart {
      mask-image: linear-gradient(to bottom, #F0EFEF 77%, transparent 100%);
      -webkit-mask-image: linear-gradient(to bottom, #F0EFEF 77%, transparent 100%);
    }

    &.transparencyMiddle {
      mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%);
      -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    }

    &.transparencyEnd {
      mask-image: linear-gradient(to top, #F0EFEF 77%, transparent 100%);
      -webkit-mask-image: linear-gradient(to top, #F0EFEF 77%, transparent 100%);
    }
  }
}
