@use "/src/constants";
@use "./Description.animations";

.container {
	display: flex;
	flex-direction: column;
	align-items: center;

	.title {
		text-align: center;
	}

	.text {
		height: 302px;
		overflow-y: auto;
		margin-top: 12px;
		width: 314px;
		text-align: justify;

		padding-right: 10px;
		animation: fadeIn 1s ease-in-out;

		&.transparencyStart {
			mask-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 1) 0%,
				rgba(0, 0, 0, 1) calc(100% - 30px),
				rgba(0, 0, 0, 0.2) 100%
			);
			-webkit-mask-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 1) 0%,
				rgba(0, 0, 0, 1) calc(100% - 30px),
				rgba(0, 0, 0, 0.2) 100%
			);
		}

		&.transparencyMiddle {
			mask-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0.2) 0%,
				rgba(0, 0, 0, 1) 30px,
				rgba(0, 0, 0, 1) calc(100% - 30px),
				rgba(0, 0, 0, 0.2) 100%
			);
			-webkit-mask-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0.2) 0%,
				rgba(0, 0, 0, 1) 30px,
				rgba(0, 0, 0, 1) calc(100% - 30px),
				rgba(0, 0, 0, 0.2) 100%
			);
		}

		&.transparencyEnd {
			mask-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0.2) 0%,
				rgba(0, 0, 0, 1) 30px,
				rgba(0, 0, 0, 1) 100%
			);
			-webkit-mask-image: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0.2) 0%,
				rgba(0, 0, 0, 1) 30px,
				rgba(0, 0, 0, 1) 100%
			);
		}
	}
}
