@use "/src/constants";
@use "./Description.animations";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    text-align: center;
  }

  .text {
    height: 302px;
    overflow: auto;
    margin-top: 12px;
    width: 314px;
    text-align: justify;

    animation: fadeIn 1s ease-in-out;
    .textTransparency {
    }
  }
}