@use "/src/constants" as constants;
@use "/src/mixins" as mixins;

.layout {
  background-image: url("../../assets/images/backgrounds/who_i_am_bg.png");
  padding-top: 26px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mixins.responsive(constants.$screen-medium) {
    padding: 58px 0;
  }

  .container {
    max-width: 338px;
    width: 100%;

    @include mixins.responsive(constants.$screen-medium) {
      max-width: 980px;
    }
  }

}