@use "NavigationMenuItem.animations";

.link.prioritier {
  position: relative;
  text-decoration: none;
  color: white;
  height: 16px;
  font-weight: 500;

  animation: navMenuMouseOut 0.5s;

  &:hover {
    animation-duration: 0s;
    opacity: 1;
  }

  &:active {
    opacity: 0.7;
  }
}