@use "/src/constants" as constants;
@use "SlideLine.animations";

.slideLine {
	line-height: 38px;
	font-size: 17px;

	.label {
		font-weight: 600;
	}

	.value {
		font-family: "Cascadia Code";
		color: constants.$color-light-green;
		cursor: pointer;

		animation: onMouseOut 0.3s;

		&:hover {
			animation: onMouseIn 0.3s;
			opacity: 0.7;
		}

		&.link:active {
			opacity: 0.3;
		}
	}
}
