@use "/src/constants";
@use "/src/mixins";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    margin-top: 36px;

    @include mixins.responsive(constants.$screen-medium) {
      margin-top: 78px;
    }
  }
}
