$header-gradient-color-start: rgba(28, 28, 0, 0.4);
$header-gradient-color-end: rgba(0, 17, 36, 0.4);
$header-background-color: rgba(0, 0, 0, 0.11);

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 53px;
  max-width: 980px;
  margin: 58px auto 0;
  border-radius: 16px;
  background: linear-gradient(to right, $header-gradient-color-start, $header-gradient-color-end), $header-background-color;
}

.menu {
  padding-left: 50px;
}