@use "/src/constants";
@use "/src/mixins";

.container {
  max-width: 100vw;

  @include mixins.responsive(constants.$screen-medium) {
    display: none;
  }

  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;

    .swiperSlide {
      display: flex;
      justify-content: center;
    }

    .numbers {
      margin-top: 10px;
    }
  }

  .description {
    margin-top: 36px;
  }
}
