// colors

$color-white: #FFF;
$color-black: #000;
$color-transparent: transparent;

$color-light-green: #AFE571;
$color-dark-blue: #233F4C;
$color-light-blue: #3C687D;
$color-error: #FF4949;

$font-default-desktop-h1: 700 44px "Gilroy";
$font-default-desktop-h2: 600 38px "Gilroy";
$font-default-desktop-h3: 600 28px "Gilroy";
$font-default-desktop-p: 400 18px "Gilroy";

$font-default-mobile-h1: 600 26px "Gilroy";
$font-default-mobile-h2: 600 26px "Gilroy";
$font-default-mobile-h3: 600 26px "Gilroy";
$font-default-mobile-p: 400 16px "Gilroy";

$screen-medium: 768px