@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url("assets/fonts/Gilroy_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url("assets/fonts/Gilroy_SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: url("assets/fonts/Gilroy_Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: url("assets/fonts/Gilroy_Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Cascadia Code";
  font-weight: 400;
  src: url("assets/fonts/CascadiaCode_Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Cascadia Code";
  font-weight: 600;
  src: url("assets/fonts/CascadiaCode_SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "Lufga";
  font-weight: 400;
  src: url("assets/fonts/Lufga_Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lufga";
  font-weight: 300;
  src: url("assets/fonts/Lufga_Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lufga";
  font-weight: 500;
  src: url("assets/fonts/Lufga_Medium.ttf") format("truetype");
}
