@font-face {
	font-family: "Gilroy";
	font-weight: 700;
	src: url("assets/fonts/Gilroy_Bold.woff2") format("truetype");
}

@font-face {
	font-family: "Gilroy";
	font-weight: 600;
	src: url("assets/fonts/Gilroy_SemiBold.woff2") format("truetype");
}

@font-face {
	font-family: "Gilroy";
	font-weight: 500;
	src: url("assets/fonts/Gilroy_Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Gilroy";
	font-weight: 400;
	src: url("assets/fonts/Gilroy_Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Cascadia Code";
	font-weight: 400;
	src: url("assets/fonts/CascadiaCode_Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Cascadia Code";
	font-weight: 600;
	src: url("assets/fonts/CascadiaCode_SemiBold.woff2") format("woff2");
}

@font-face {
	font-family: "Lufga";
	font-weight: 400;
	src: url("assets/fonts/Lufga_Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Lufga";
	font-weight: 300;
	src: url("assets/fonts/Lufga_Light.woff2") format("woff2");
}

@font-face {
	font-family: "Lufga";
	font-weight: 500;
	src: url("assets/fonts/Lufga_Medium.woff2") format("woff2");
}
