@use "fonts";
@use "constants";
@use "mixins";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h3, h4, p, span {
  color: constants.$color-white;
  margin: 0;
}

h1 {
  font: constants.$font-default-mobile-h1;
  @include mixins.responsive(constants.$screen-medium) {
    font: constants.$font-default-desktop-h1;
  }
}

h2 {
  font: constants.$font-default-mobile-h2;
  @include mixins.responsive(constants.$screen-medium) {
    font: constants.$font-default-desktop-h2;
  }
}

h3 {
  font: constants.$font-default-mobile-h3;
  @include mixins.responsive(constants.$screen-medium) {
    font: constants.$font-default-desktop-h3;
  }
}

p, span {
  font: constants.$font-default-mobile-p;
  @include mixins.responsive(constants.$screen-medium) {
    font: constants.$font-default-desktop-p;
  }
}